/*
colour palette
grey: #CECECE
teal: #339E9B
purple: #571062
red: #7F002B
white: #fff
*/

#search {

}

#search input[type="text"] {
	background: url(../images/search-icon.png) no-repeat 10px 6px #fcfcfc;
	border: 1px solid rgba(51, 158, 155, 1);
	font: normal 13px Futura,Sans-serif;
	color: #bebebe;
	width: 150px;
	padding: 6px 15px 6px 32px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 15px 0 0 15px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset;
	-webkit-transition: all 0.7s ease 0s;
	-moz-transition: all 0.7s ease 0s;
	-o-transition: all 0.7s ease 0s;
}

.search-button {
	background-color: #fcfcfc;
	border: 1px solid rgba(51, 158, 155, 1);
	margin-left: -5px;
	height: 28px;
	padding: 7px 13px 10px 10px;
	font: normal 12px Futura,Sans-serif;
	color: #bebebe;
	-webkit-border-radius: 20px;
	border-radius: 0 15px 15px 0;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset;
	webkit-transition: all 0.7s ease 0s;
	-moz-transition: all 0.7s ease 0s;
	-o-transition: all 0.7s ease 0s;
}
