/*
colour palette
grey: #CECECE
teal: #339E9B
purple: #571062
red: #7F002B
white: #fff
*/

.logo{
	max-width: 69%;
}

.p-margin{
	margin-left: 1.5em;
	max-width: 80%;
}

.thank-you{
	margin: 0 30% 0 30%;
}

.grid {
	overflow: auto;
}

.unit{
	float: left;
	margin: .5em;
}

.gutter{
	margin: .5em;
}

.gutter img{
	margin-bottom: .5em;
}

.img-grid{
	max-width: 100%;
}


.center{
	text-align: center;
}

.unit-s-1{
	width: 100%;
}

.unit-s-1 p{
	margin-left: 1.5em;
}

.unit-s-1-2{
	width: 50%;
}

.img-small{
	display: table;
	margin: 0 auto;
}

@media only screen and (min-width: 30em){
	.unit-m-1-3{
		width: 33.33%;
	}

	.unit-m-1{
		width: 100%;
	}

	.unit-m-1-2{
		width: 48%;
	}
}

@media only screen and (min-width: 50em){
	.unit-l-1-3{
		width: 31.5%;
	}

	.unit-l-2-3{
		width: 66.66%;
	}
}
