/*
colour palette
grey: #CECECE
teal: #339E9B
purple: #571062
red: #7F002B
white: #fff
*/

.p-margin{
	margin-left: 1.5em;
	margin-right: 1.5em;
}

.thank-you{
	margin: 0 30% 0 30%;
}

.grid {
	overflow: auto;
}

.unit{
	float: left;
}

.unit-s-1{ /* you want them to stack on top of each other */
	width: 100%; /* this takes up the whole row of the page */
}

.unit-s-1-2{
	width: 50%;
}

.img-small{
	display: table;
	margin: 0 auto;
}

@media only screen and (min-width: 30em){
	.unit-m-1-3{
		width: 33.33%;
	}

	.unit-m-1{
		width: 100%;
	}

	.unit-m-1-2{
		width: 50%;
	}
}

@media only screen and (min-width: 50em){
	.unit-l-1-3{
		width: 33.33%;
	}

	.unit-l-2-3{
		width: 66.66%;
	}
}
