header {
	background-color: #eee;
}

ul li:before {
	content: none;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li{
	width: 33.333%;
	display: inline-block;
}

a{
	display: block;
}

.navig{
	margin: 0 auto;
	display: table;
	width: 100%;
}

@media only screen and (min-width: 30em){
	h1{
		margin-top: 10rem;
	}
}

@media only screen and (min-width: 50em){
		h1{
			margin-left: -20%;
		}

	}
