
@media only screen and (min-width: 15em){
	.img-s-1{
		max-width: 85%;
		display: block;
		margin-top: 1em;
		margin-left: auto;
		margin-right: auto;
	}
	.search-s-1{
		margin-left: 2.7em;
		margin-top: .5em;
	}
}

@media only screen and (min-width: 30em){
	.img-m-1-3{
		width: 100%;
		padding: 0;
	}
}
