
@media only screen and (min-width: 15em){
	.img-s-1{
		max-width: 85%;
		display: block;
		margin-top: 1em;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1em;
	}
	.search-s-1{
		display: block;
		width: 100%;
		margin-left: 2.7em;
	}
}

@media only screen and (min-width: 30em){
	.img-m-1-3{
		width: 100%;
		padding: 0;
	}
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: table;
}
li{
	float: left;
}

a{
	display: block;
	width: 60px;
}

.navig{
	list-style-type:;
	margin: 0 auto;
	display: table;
}
