/*
colour palette
grey: #CECECE
teal: #339E9B
purple: #571062
red: #7F002B
white: #fff
*/

.product{
	padding: 2em;
	width: 15rem;
	margin-bottom: 1.5em;
	margin-left: 3%;
	display: table;
	border: 1px solid #7F002B;
	background: #eee;
}
