/*
colour palette
grey: #CECECE
teal: #339E9B
purple: #571062
red: #7F002B
white: #fff
*/

.product{
	padding-left: 0.75rem;
	padding-top: 0.75rem;
	max-width: 20rem;
	margin: 0 0 1.5em 0;
	display: table;
	border: 1px solid #7F002B;
	background: #eee;
}
