.all{
	margin: 2em;
	border: 1px solid #7F002B;
	background-color: #eee;
}

.img-flex-max{
	display: block;
	width: 15em;
	float: left;
	margin-bottom: 1.5em;
}

.top{
	margin: 1em;
}

.middle{
	margin: 3%;
}

ul,
li:before{
	position: static;

}

@media only screen and (min-width: 30em){
	.img-flex-max{
		margin-right: 1.5em;
	}
}
