/*
colour palette
grey: #CECECE
teal: #339E9B
purple: #571062
red: #7F002B
white: #fff
*/

.promos{
	padding-left: 0.75rem;
	padding-top: 0.75rem;
}

.promos-small{
	max-with: 25rem;
}

.large-promo-img{
	float: none;
	margin: 0;
}

.img-flex{
	display: block;
	width: 100%;
}

