# Accessibility Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- {Melissa Roy}
- {Anita Chanthavong}
- {Pedro Santos}
- {Katie Situ}
- {Me}
- {Amanda Sparks}

## Tasks

1. {Search something in search bar}
2. {Find red or blue dragon section}
3. {Buy a dragon}

---

## Individual Results & Observations

### {Melissa Roy}

- {She bough the item and had no difficulties buying an item voice over test}
- {Navigated around the site only had issues with the lorem ipsum which will be changed}
- etc.

### {Anita Chanthavong}

- {She completed the tasks without any difficulties}
- {The images get a little bit large on some things}
- etc.

### {Pedro Santos}

- {Had difficulty getting to the search option with the voice over}
- etc.

### {Katie Situ}

- {Had no difficulties with tab test}
- etc.

### {Me}

- {Nav in store needs some work}
- {Sizing issues with the tittles on product page}
- {search field needs to be named better when you land on the enter search option}
- {Make sure all images have the alt tags}
- etc.

### {Amanda Sparks}

- {Had no difficulty with tab test}
- etc.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had this problem…}
- etc.

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants succeeded where one of them failed…}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out this inconsistency…}
- etc.
