---
layout: default
title: Home
bannertext: Dragons are amazing!
showbanner: yes
meta: We sell dragons all over the world. Dargons of all kinds
---
<main role="main">

  <div class="grid">
    <div class="p-margin unit unit-s-1 unit-l-2-3">
    		<p>We sell amazing dragons!</p>

    		<p>Come one, come all to our dragon store of all the dragons! We sell many different types. You can find the perfect one for you here. They come from all over the world and have many different personalities.</p>
    </div>


    <div class="product unit unit-s-1 unit-l-1-3">

      <h2 class="product-h2">Product List Item</h2>

      <div>

        <div>
          <img class="product-img" src="{{site.baseurl}}/images/blue-dragon1.jpg" alt="placeholder for product list item">
        </div>

      <h2 class="product-h2">Product</h2>

        <p>We sell many dragons both red and blue.</p>

        <a class="btn2 product-list-button" href="#">Buy a Dragon</a>

      </div>

    </div>
  </div>

  <div class="grid">
    <div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
      {% include promo-small.html %}
    </div>

    <div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
      {% include promo-small.html %}
    </div>

    <div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
        {% include promo-small.html %}
    </div>
  </div>
  <div class="grid">
    <div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-2">
      {% include promo-large.html %}
    </div>

    <div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-2">
      {% include promo-large.html %}
    </div>
  </div>
</main>

