# User Testing Report

User testing was conducted by {Rebecka} on {March 26 2014} between the times of {3:00pm} and {4:00pm} with the following participants:

- {Melissa Roy}
- {Pedor Santos}
- {Anita Chanthavong}

## Tasks

1. {Go to store}
2. {navigate store tabs}
3. {buy bluedragon 1}
4. {search for a dragon}

---

## Individual Results & Observations

### {Melissa Roy}

- {She found the store easily}
- {Navigated the tabs easily}
- {It was unclear which dragon to buy as all names are the same}
- {Found all images the same confusing…}

### {Pedro Santos}

- {He clicked on the link as expected…}
- {He had troubles finding the object to buy…}
- {Which am I supposed to click on…}

### {Anita Chanthavong}

- {She clicked on the link as expected…}
- {She did not have any difficulty completing any tasks given to her}
- {Why can I not buy a fire dragon? a: they are not ready yet}

---

## Trends

### Having all products linked to cart

- {Finding the right dragon to buy}
- etc.

### Not having all products done and linked to cart

- {They all succeded after they found the correct product to buy}
- etc.

### Sub-nav was a little bit small, Names on the images need to change

- {Images. Sub-nav blends in a little bit}
- Need a cart button somewhere on the page
