/*
colour palette
grey: #CECECE
teal: #339E9B
purple: #571062
red: #7F002B
white: #fff
*/

.btn,
.btn:link,
.btn:visited {
	display: inline-block;
	padding: 0.75em 1em;
	margin: 0 0 1.5rem;
	background-color: #793284;
	background-image: linear-gradient(to bottom, #793284, #571062);
	border-radius: 6px;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
	color: #FFFFFF;
	font-weight: lighter;
	border-bottom: 0;
}

.btn-alt,
.btn-alt:link,
.btn-alt:visited {
	margin: 0 0 1.5rem;
	background-color: #5d8432;
	background-image: linear-gradient(to bottom, #5d8432, #3b6210);
}

.btn2,
.btn2:link,
.btn2:visited {
	display: inline-block;
	padding: 0.75em 1em;
	margin: 0 0 1.5rem;
	background-color: #7F002B;
	background-image: linear-gradient(to bottom, #7F002B, #571062);
	border-radius: 6px;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
	color: #FFFFFF;
	font-weight: lighter;
	border-bottom: 0;
}

.btn2-alt,
.btn2-alt:link,
.btn2-alt:visited {
	margin: 0 0 1.5rem;
	background-color: #5d8432;
	background-image: linear-gradient(to bottom, #5d8432, #3b6210);
}

.btn:hover{
	background-color: #571062;
	background-image: none;
}

.btn2:hover{
	background-color: #571062;
	background-image: none;
}
