/*
colour palette
grey: #CECECE
teal: #339E9B
purple: #571062
red: #7F002B
white: #fff
*/

header {
	margin-bottom: 1.5em;
	border: 1px solid #7F002B;
	background-color: #eee;
	padding: 2rem 2rem 0 2rem;
}

ul li:before {
	content: none;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li{
	width: 33.333%;
	display: inline-block;
}

a{
	display: block;
	margin-bottom: .5rem;
}

.navig{
	margin: .5em auto;
	display: table;
	width: 100%;
}

.current{
	background-color: #339E9B;
	border-radius: .5em;
	margin-right: .5em;
	padding-left: .7em;
	padding-top: .1em;
}

.banner{
	background:#eee url("../images/banner.svg") no-repeat center center;
	background-size: cover;
	padding: 5em 1em 1em;
	text-align: center;
	margin-bottom: 1.5em;
}

.banner h2{
	color: #1A0C33;
}

@media only screen and (min-width: 30em){
	h1{
		margin-top: 10rem;
	}
}

@media only screen and (min-width: 50em){
		h1{
			margin-left: -20%;
		}

	}
