/*
colour palette
grey: #CECECE
teal: #339E9B
purple: #571062
red: #7F002B
white: #fff
*/

.product{
	padding: 1em;
	width: 10rem;
	margin-bottom: 1.5em;
	margin-left: 3%;
	display: table;
	border-radius: 10px;
	background: #eee;
}

.product-img{
	max-width: 18.5em;
}
