/*
colour palette
grey: #CECECE
teal: #339E9B
purple: #571062
red: #7F002B
white: #fff
*/

.promos{
	padding-left: 0.75rem;
	padding-top: 0.75rem;
}

.promos-small{
	max-with: 25rem;
	background-color: #eee;
	border-radius: 10px;
	margin: 0 .5em 1.5em .5em;
	padding-left: .5em;
	padding-right: .5em;
}

.large-promo-img{
	float: none;
	margin: 0;
}

.img-flex{
	display: block;
	width: 100%;
}

.promo-large{
	background-color: #eee;
	border-radius: 10px;
	margin: 0 .5em 1.5em .5em;
	padding-left: .5em;
	padding-right: .5em;
}
