<!doctype html>
<html lang="en-ca">
<head>
	<meta charset="UTF-8">
	<title>{{page.title}} · Dragons</title>
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link href="http://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
	<link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/list-group.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/media-object.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/buttons.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/product-list.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/product-details.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/promos.css" rel="stylesheet">
	<meta name="description" content="{{page.meta}}">

		<style>
			body{
				margin: 0 auto;
				padding: 0;
				max-width: 75rem;
			}
		</style>

</head>

<body class="grid">

	<header class="grid">

			<div class="unit unit-s-1 unit-m-1-3 unit-l-1-2">
				<a href="{{site.baseurl}}/index.html"><img class="logo" src="{{site.baseurl}}/images/logo.png" alt="image"></a>
			</div>

			<div class="unit unit-s-1 unit-m-1-2 unit-l-1-2">
				<a href="{{site.baseurl}}/index.html"><h1 class="yotta">Dragons</h1></a>
			</div>

			<div class="unit gutter search-s-1">
				<form method="get" action="{{site.baseurl}}/search/" id="search">
					<input name="q" type="text" size="40" placeholder="Search Field">
					<input class="search-button" id="submit" type="submit" value="Search">
				</form>
			</div>

			<div class="unit unit-s-1 unit-m-1 unit-l-1">
				<ul class="navig">
					<li><a class="{% if page.url == '/' %}current{% endif %}" href="{{site.baseurl}}/index.html">Home</a></li>
					<li><a class="{% if page.url == '/products/' %}current{% endif %}" href="{{site.baseurl}}/products/">Store</a></li>
					<li><a class="{% if page.url == '/about/' %}current{% endif %}" href="{{site.baseurl}}/about">About</a></li>
				</ul>
			</div>

	</header>

{% if page.showbanner %}
<div class="banner">
	<h2>{{page.bannertext}}</h2>
</div>
{% endif %}

{{content}}

<footer>
			<p class="mega">Copyright 2014 © Dragons inc.</p>

			<table class="connect">
				<tbody>
					<td><div class="facebook"> <a target="_blank" href="#"></a></div></td>
					<td><div class="twitter"> <a target="_blank" href="#"></a></div></td>
					<td><div class="behance"> <a target="_blank" href="#"></a></div></td>
				</tbody>

		</footer>

</body>
</html>
