---
layout: default
title: Store
---

<div class="grid">
	<ul class="center">
		<li><a href="{{site.baseurl}}/products">All</a></li>
		<li><a href="{{site.baseurl}}/products/reddragons">Red Dragons</a></li>
		<li><a class="current" href="{{site.baseurl}}/products/bluedragons">Blue Dragons</a></li>
	</ul>

<hr>

	<main role="main">

		{% for bluedragons in site.pages %}
			{% if bluedragons.type == 'blue' %}

	<div class="gutter">
			<div class="unit unit-s-1 unit-m-1-2 unit-l-1-3">
				<a class="mega" href="{{site.baseurl}}{{bluedragons.url}}"><img class="img-flex img-grid" src="{{site.baseurl}}/images/{{bluedragons.images}}" alt="bluedragons.title">Blue</a>
				<h3>{{bluedragons.title}} Dragons</h3>
				<p>{{bluedragons.meta}}</p>
				<h4>{{bluedragons.price}}</h4>
				<a class="btn2" href="{{site.baseurl}}{{bluedragons.url}}"> Information</a>
			</div>

	</div>
			{% endif %}
		{% endfor %}

	</main>

</div>
